<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /bcit-ci-CodeIgniter-bcb17eb/
    
    # Remov ing index.php from URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>